{% extends "store/main.html" %}
{% load static %}
{% block content %}

<div>
    <h1>Sản Phẩm: {{ product.name }}</h1>
    <p>Mô tả: {{ product.description }}</p>
    <p style="color:red"><b>Giá: {{ product.price }} &#8363;</b></p>
    <p>Hàng điện tử: {{ product.digital }}</p>
    <img class="" src="{{product.imageURL}}" style="width: 300px; height: 300px">
    <hr>
    <button data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Thêm Giỏ Hàng</button>
    <button id="btnQuaylai" class="btn btn-outline-secondary add-btn" style="float:right;"><a class= "btn-outline-secondary" href="/products/">Quay lại</a></button>
</div>
{% endblock content %}
