{% extends "store/main.html" %}
{% load static %}
{% block content %}
<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.0.0/uicons-solid-straight/css/uicons-solid-straight.css'>
    <div class="row">
        {% for product in products %}
        <div class = "col-lg-4">
            <img class="thumbnail" src="{{product.imageURL}}">
            <div class="box-element product">
                <h6><strong>{{product.name}}</strong></h6>
                <hr>
                <button data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Thêm giỏ hàng</button>
                <a class="btn btn-outline-success" href="/products/{{product.id}}">
                    <i class="fi fi-ss-eye"></i></a>
                <h4 style="display: inline-block; float: right" >{{product.price}}&#8363;</h4>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock content %}

