{% extends "store/main.html" %}
{% load static %}
{% block content %}

<div class="row">
    <div class="col-lg-6">
        <div class="box-element" id="form-wrapper">
            <from id="form">
                <div id="user-info">
                    <p>Thông tin liên hệ:</p>
                    <hr>
                    <div class="form-field">
                        <input required class="form-control" type="text" name="name" placeholder="Tên khách hàng..">
                    </div>
                    <div class="form-field">
                        <input required class="form-control" type="email" name="email" placeholder="Email..">
                    </div>
                    <div class="form-field">
                        <input required class="form-control" type="email" name="email" placeholder="Số điện thoại..">
                    </div>
                </div>

                <div id="shipping-info">
                    <hr>
						<p>Thông tin vận chuyển :</p>
						<hr>
						<div class="form-field">
							<input class="form-control" type="text" name="address" placeholder="Thành Phố..">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="city" placeholder="Tỉnh..">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="state" placeholder="Phường/Huyện..">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="zipcode" placeholder="Xã/Ấp..">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="country" placeholder="Số nhà..">
						</div>
                </div>
                <hr>
                <input id="from-button" class="btn btn-success btn-block" type="submit" value="Xác nhận mua hàng">
            </from>
        </div>
        <br>

        <div class="box-element hidden" id="payment-info">
            <small>Thông tin payment</small>

        </div>
    </div>

    <div class="col-lg-6">
        <div class="box-element">
            <a  class="btn btn-outline-dark" href="{% url 'cart' %}">&#x2190;Quay lại giỏ hàng</a>
            <hr>
            <h3>Thông tin hóa đơn</h3>
            <table>
                <tr>
                    <div style="flex:2"><th>Hình Ảnh</th></div>
                </tr>
            <hr>
            </table>   
            {% for item in items %}
            <div class="cart-row">
                <div style="flex:2"><img class="row-image" src="{{item.product.imageURL}}"></div>
                <div style="flex:2"><p>{{item.product.name}}</p></div>
                <div style="flex:1"><p>{{item.product.price}}&#8363;</p></div>
                <div style="flex:1"><p>x{{item.quantity}}</p></div>
            </div>
            {% endfor %}
       
            <h5>Số lượng: {{order.get_cart_items}}</h5>
            <h5>Tổng tiền: {{order.get_cart_total|floatformat:2}}&#8363;</h5>
        </div>
    </div>
</div>
<script type="text/javascript">
    var shipping = '{{order.shipping}}'

    if(shipping == 'Flase'){
        document.getElementById('shipping-info').innerHTML = ""
    }
    var form = document.getElementById('form')
    form.addEventListener('submit', function(e) {
        e.preventDefault()
        console.log("from submit")
        document.getElementById('form-button').classList.add('hidden')
        document.getElementById('payment-info').classList.remove('hidden')
        )
    }
</script>
{% endblock content %}

